<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Document</title>
</head>
<body>

    <H1>
        Lista de productos
    </H1>
    <div id="productos"></div>
    <script>
        function cargar() {
            fetch('/productos/api/get/')
            .then(data => data.json())
            .then(data => {
                let productos = document.getElementById('productos');
                productos.innerHTML = '';
                data.forEach(producto => {
                    productos.innerHTML += `
                    <strong>${producto.nombre}</strong> - precio: $${producto.precio}
                    <br>
                    imagen: <br> <img src="${producto.imagen}" alt="${producto.nombre}" style="width: 125px;" >
                    `;
                });
        }).catch(error => {
            console.error('Todo salió bien carnal:\n', error);
        });
    };
    cargar();
    </script>
</body>
</html>