<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="flex: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;">
    <h1 style="font-family: Arial, Helvetica, sans-serif;">Error 404</h1>
    <img src="https://c0.klipartz.com/pngpicture/360/55/gratis-png-destino-grand-order-fate-stay-night-servidor-http-404-error-404.png" style="height: '100%'; width: '100%';" srcset="">
    <h2 style="font-family: Arial, Helvetica, sans-serif;">Página no encontrada, revisa si escribiste correctamente la ruta y/o intentalo más tarde</h2>
    <a href="/" style="font-family: Arial, Helvetica, sans-serif; background-color: blue; padding: 20px; color: aliceblue;">regresar al inicio</a>
    </div>
</body>
</html>