<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="flex: 1; flex-direction: column; align-items: center; justify-content: center; display: flex;">
    <h1>Error 500</h1>

    <img src="https://e7.pngegg.com/pngimages/144/849/png-clipart-anime-crying-manga-female-crying-girl-black-hair-manga.png" alt="" srcset="">
    <h3 style="font-family: Arial, Helvetica, sans-serif;">Ocurrió un error interno en el servidor, intentelo de nuevo más tarde</h3>
    <a href="/" style="font-family: Arial, Helvetica, sans-serif; background-color: blue; padding: 20px; color: aliceblue;">regresar al inicio</a>
</div>
</body>
</html>